<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - F# Razor Sample</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body>
<header>
    Header!
</header>
<main>
@RenderBody()
</main>
<footer>
    Footer!
</footer>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>